<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Photo Gallery</a>
    <div class="navbar-nav me-auto">
      <a class="nav-link" routerLink="/">Albums</a>
      <a *ngIf="isAuthenticated" class="nav-link" routerLink="/my-albums">My Albums</a>
    </div>
    <div class="navbar-nav">
      <ng-container *ngIf="!isAuthenticated">
        <a class="nav-link" routerLink="/login">Login</a>
        <a class="nav-link" routerLink="/register">Register</a>
      </ng-container>
      <button *ngIf="isAuthenticated" class="btn btn-outline-light" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>
